.pageHeader {
    position: sticky;
    top: 0;
    background: #fff;
    box-shadow: 0 3px 8px 2px lightgrey;
}

.wrappedContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
}

.logoText {
    margin: 0;
}

.leftSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navWrapper {
    font-size: 16px;
}

.navItems {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin-left: 16px;
}

.navItem {
    margin-left: 8px;
}

.navLink {
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 640px) {
    .navLink {
        font-size: 14px;
    }
}

.navLink:hover {
    text-decoration: underline;
}

.rightSection a {
    margin-left: 8px;
}