.productDetail {
    display: flex;
    flex-direction: column;
}

.imgList {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
}

@media screen and (min-width: 768px) {
    .productDetail {
        flex-direction: row;
    }

    .imgList {
        width: 50%;
    }

    .infoWrapper {
        margin-left: 16px;
    }
}

@media screen and (min-width: 960px) {
    .imgList {
        width: 40%;
    }
}

.imgListBtn {
    position: absolute;
    top: calc(50% - 11px);
    background: transparent;
    border: none;
    cursor: pointer;
}

.prevBtn {
    left: 0;
}

.nextBtn {
    right: 0;
}

.imgList img {
    max-width: 90%;
    margin: 0 auto;
    display: block;
}

.originalPrice {
    text-decoration: line-through;
}

.discountedPrice {
    color: green;
    font-weight: bold;
}

.titleWrapper {
    display: flex;
    align-items: center;
    margin: 16px 0;
}

.titleWrapper h4 {
    margin: 0;
}

.productRating {
    margin-top: 16px;
}

.categoryPill {
    background: lightblue;
    border: 1px solid blue;
    color: blue;
    padding: 4px 8px;
    margin: 0 0 0 8px;
    font-size: 12px;
    border-radius: 4px;
    align-self: start;
  }
  
  .arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }